<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
   <!-- variantion margin start-->
    <add key="VMDestinationFileName" value="PriceRecMerger_{date}.xlsx" />
    <add key="VMDestinationFilePath" value="D:\Nitin\WorkSpace\repo\MergerFile\File\" />
    <add key="VMTemplateFilePath" value="\\INDEM1-VWFTP01\eze\Shared\Gravitas\PriceRecMerger_Template\PriceRc_template_2025.xlsx" />
    <add key="VMsharedFilePath" value="D:\Nitin\WorkSpace\repo\MergerFile\File\Shared\" />
    <add key="VMJsonFilePaths" value="D:\Nitin\WorkSpace\repo\MergerFile\Config\PriceRecMerger_Config.json" />
    <add key="VMLogFilePath" value="D:\Nitin\WorkSpace\repo\MergerFile\Log\PriceRecMerger.txt"/>
    <!-- variantion margin start-->
    
  </appSettings>
</configuration>