<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
  <!-- variantion margin start-->
    <!-- <add key="VMDestinationFileName" value="Variation_Margin_{date}.xlsx" /> -->
    <!-- <add key="VMDestinationFilePath" value="C:\Deployments\VMMergerProd\File\" /> -->
    <!-- <add key="VMTemplateFilePath" value="\\INDEM1-VWFTP01\eze\Shared\Gravitas\Varitation Margin Template\VM DRAFT_USING GS DATA.xlsx" /> -->
    <!-- <add key="VMHistoryFilePath" value="\\INDEM1-VWFTP01\eze\Shared\PASSIVE Reports\Daily Files\CASH\Fran Accounting\Varitation Margin Template\VM DRAFT_USING GS DATA.xlsx" /> -->
    <!-- <add key="VMsharedFilePath" value="\\INDEM1-VWFTP01\eze\Shared\PASSIVE Reports\Daily Files\CASH\Fran Accounting\Variatrion Margin GS reports\" /> -->
    <!-- <add key="VMJsonFilePaths" value="C:\Deployments\VMMergerProd\Varitation_Margin_Config.json" /> -->
    <!-- <add key="VMLogFilePath" value="C:\Deployments\VMMergerProd\Log\Varitation_Margin.txt"/> -->
    <!-- variantion margin start-->
	
	
	 <!-- variantion margin start-->
    <add key="VMDestinationFileName" value="Variation_Margin_{date}.xlsx" />
    <add key="VMDestinationFilePath" value="C:\Deployments\VMMergerProd\File\" />
    <add key="VMTemplateFilePath" value="C:\Gravitas\Template\VM DRAFT_USING GS DATA.xlsx" />
    <add key="VMsharedFilePath" value="C:\Gravitas\SharedFiles\VariationMargin\" />
    <add key="VMJsonFilePaths" value="C:\Deployments\VMMergerProd\Varitation_Margin_Config.json" />
    <add key="VMLogFilePath" value="C:\Deployments\VMMergerProd\Log\Varitation_Margin.txt"/>
    <!-- variantion margin start-->
    
  </appSettings>
</configuration>