<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
   
    <!-- <add key="DestinationFileName" value="Daily Cash_{date}.xlsx" /> -->
    <!-- <add key="DestinationFilePath" value="C:\Deployments\CashMergerProd\File\" /> -->
    <!-- <add key="TemplateFilePath" value="\\INDEM1-VWFTP01\eze\Shared\Gravitas\Cash_Template\Cash Template_V4.xlsx" /> -->
	<!-- <add key="RunningCashTemplateFilePath" value="\\indexiq.com\IndexIQ_DFS\Portfolio Management\Daily Operations\Daily Cash\Running Cash\Running Cash.xlsx" /> -->
    <!-- <add key="sharedFilePath" value="\\indexiq.com\IndexIQ_DFS\Portfolio Management\Daily Operations\Daily Cash\" /> -->
    <!-- <add key="JsonFilePaths" value="C:\Deployments\CashMergerProd\Config.json" /> -->
    <!-- <add key="LogFilePath" value="C:\Deployments\CashMergerProd\Log\CashMerger.log"/> -->
	
	
	<add key="DestinationFileName" value="Daily Cash_{date}.xlsx" />
    <add key="DestinationFilePath" value="C:\Deployments\CashMergerProd\File\" />
    <add key="TemplateFilePath" value="C:\Gravitas\Template\Cash Template_V4.xlsx" />
	<add key="RunningCashTemplateFilePath" value="\\indexiq.com\IndexIQ_DFS\Portfolio Management\Daily Operations\Daily Cash\Running Cash\Running Cash.xlsx" />
    <add key="sharedFilePath" value="C:\Gravitas\SharedFiles\DailyCash\" />
    <add key="JsonFilePaths" value="C:\Deployments\CashMergerProd\Config.json" />
    <add key="LogFilePath" value="C:\Deployments\CashMergerProd\Log\CashMerger.log"/>
    
  </appSettings>
</configuration>