<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
     <!-- <add key="DestinationFileName" value="Daily_Margin_{date}.xlsx" /> -->
    <!-- <add key="DestinationFilePath" value="C:\Deployments\ExcelMergerProd\CollatralFile\" /> -->
    <!-- <add key="sharedFilePath" value="\\indexiq.com\IndexIQ_DFS\Portfolio Management\Daily Operations\Financing TRS\Collateral Management\Daily Files\" /> -->
    <!-- <add key="TemplateFilePath" value="\\INDEM1-VWFTP01\eze\Shared\Gravitas\Collatral_Template\Daily Margin Template.xlsx" /> -->
    <!-- <add key="JsonFilePaths" value="C:\Deployments\ExcelMergerProd\Config.json" /> -->
    <!-- <add key="LogFilePath" value="C:\Deployments\ExcelMergerProd\Log\ExcelMerger.log"/> -->
	
	 <add key="DestinationFileName" value="Daily_Margin_{date}.xlsx" />
    <add key="DestinationFilePath" value="C:\Deployments\ExcelMergerProd\CollatralFile\" />
    <add key="sharedFilePath" value="C:\Gravitas\SharedFiles\DailyMargin\" />
    <add key="TemplateFilePath" value="C:\Gravitas\Template\Daily_Margin_07282025.xlsx" />
    <add key="JsonFilePaths" value="C:\Deployments\ExcelMergerProd\Config.json" />
    <add key="LogFilePath" value="C:\Deployments\ExcelMergerProd\Log\ExcelMerger.log"/>
    
  </appSettings>
</configuration>