<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
   <!-- variantion margin start-->
    <!-- <add key="VMDestinationFileName" value="Price_Rec_{date}.xlsx" /> -->
    <!-- <add key="VMDestinationFilePath" value="D:\Deployments\PriceRecMergerProd\File\" /> -->
    <!-- <add key="VMTemplateFilePath" value="\\INDEM1-VWFTP01\eze\Shared\Gravitas\PriceRecMerger_Template\PriceRc_template_2025.xlsx" /> -->
    <!-- <add key="VMsharedFilePath" value="\\INDEM1-VWFTP01\eze\Shared\AM Reports\Price Rec New\" /> -->
    <!-- <add key="VMJsonFilePaths" value="D:\Deployments\PriceRecMergerProd\PriceRecMerger_Config.json" /> -->
    <!-- <add key="VMLogFilePath" value="D:\Deployments\PriceRecMergerProd\Log\PriceRecMerger.txt"/> -->
    <!-- variantion margin start-->
	
	
	
	 <!-- variantion margin start-->
    <add key="VMDestinationFileName" value="Price_Rec_{date}.xlsx" />
    <add key="VMDestinationFilePath" value="C:\Deployments\PriceRecMergerProd\File\" />
    <add key="VMTemplateFilePath" value="C:\Gravitas\Template\PriceRc_template_2025.xlsx" />
    <add key="VMsharedFilePath" value="C:\Gravitas\SharedFiles\PriceRec\" />
    <add key="VMJsonFilePaths" value="C:\Deployments\PriceRecMergerProd\PriceRecMerger_Config.json" />
    <add key="VMLogFilePath" value="C:\Deployments\PriceRecMergerProd\Log\PriceRecMerger.txt"/>
    <!-- variantion margin start-->
    
  </appSettings>
</configuration>