<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
     <!-- variantion margin start-->
    <!-- <add key="VMDestinationFileName" value="Enhanced_Basket_AutoLoad_{date}.xlsx" /> -->
    <!-- <add key="VMDestinationFilePath" value="D:\Deployments\InkindMergerProd\File\" /> -->
    <!-- <add key="VMTemplateFilePath" value="\\invnasprod\IndexIQ\eze\Shared\Gravitas\InkindMerger_Template\Inkind_template.xlsx" /> -->
    <!-- <add key="VMsharedFilePath" value="\\invnasprod\IndexIQ\Data\Portfolio Management\Daily Operations\inkind\Enhanced Basket Auto Run\" /> -->
    <!-- <add key="VMJsonFilePaths" value="D:\Deployments\InkindMergerProd\InkindMerger_Config.json" /> -->
    <!-- <add key="VMLogFilePath" value="D:\Deployments\InkindMergerProd\Log\Inkind_Margin.txt"/> -->
    <!-- variantion margin start-->


 <add key="VMDestinationFileName" value="Enhanced_Basket_AutoLoad_{date}.xlsx" />
    <add key="VMDestinationFilePath" value="C:\Deployments\InkindMergerProd\File\" />
    <add key="VMTemplateFilePath" value="C:\Gravitas\Template\Inkind_template.xlsx" />
    <add key="VMsharedFilePath" value="C:\Gravitas\SharedFiles\InKind\" />
    <add key="VMJsonFilePaths" value="C:\Deployments\InkindMergerProd\InkindMerger_Config.json" />
    <add key="VMLogFilePath" value="C:\Deployments\InkindMergerProd\Log\Inkind_Margin.txt"/>
    
  </appSettings>
</configuration>